html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
  background-color: #3ad;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}

main {
  height: 85%;
  margin: 5px 0 5px 0;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  
}

footer {
  height: 5%;
  background-color: #3ad;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
}

a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

form {
  background-color: aliceblue;
  margin: 20px auto auto 50px;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}

.filters {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-card {
  padding: 15px;
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}

.job-card>button {
  align-self: flex-end;
  margin-top: 3px;
}

.job-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-header > p {
  margin: 0;
}

.job-main-info > h3 {
  margin: 0;
}

.job-main-info > p {
  margin: 0;
}

.job-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-footer > h4 {
  margin: 0;
}

.job-info {
  padding: 30px;
  width: 800px;
  background-color: aliceblue;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}

.job-info > h1 {
  text-align: center;
}

.job-info > h2 {
  text-align: center;
}

.job-info > p {
  text-align: center;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.authorization {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.spec-form>input {
  margin: 2px 0 5px 0;
}

input:invalid {
  border: 1px solid red;
  border-radius: 4px;
}

input:valid {
  border: 1px solid black;
  border-radius: 4px;
}

.company-info {
  padding: 30px;
  margin-left: 30px;
  background-color: aliceblue;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.hidden {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}