<div fxLayout="row" fxLayoutAlign="center center">
  <mat-nav-list class="horizontal" fxLayout="row">
    <a mat-list-item (click)="navigate('')">Main</a>
    <a mat-list-item *ngIf="!isUserAuthenticated" (click)="navigate('auth')">Login</a>
    <a mat-list-item *ngIf="!isUserAuthenticated" (click)="navigate('auth/register')">Register</a>
    <a mat-list-item *ngIf="isUserAuthenticated" (click)="navigate('profile')">Profile</a>
    <a mat-list-item *ngIf="isUserAuthenticated" (click)="logout()">Logout</a>
  </mat-nav-list>
</div>


